<% layout("layouts/boilerplate") %>

<body>

    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">

        <% for(let ele of alldata){ %>

            <div class="col">

                <a href="/listen/<%= ele._id %>" class="listen-link text-decoration-none">

                    <div class="card h-100" style="width: 18rem;">

                        <img 
                            src="<%= ele.image.url %>" 
                            class="card-img-top" 
                            alt="listing image"
                        >

                        <div class="card-body">

                            <h5 class="card-title">
                                <%= ele.title %>
                            </h5>

                            <p class="card-text">

                                <%= ele.description %>

                                <br><br>

                                Price :
                                &#8377;
                                <%= ele.price.toLocaleString("en-IN") %>
                                /night

                                <br>

                                <%= ele.location %>,
                                <%= ele.country %>

                            </p>

                        </div>

                    </div>

                </a>

            </div>

        <% } %>

    </div>

</body>